@model PagedList.IPagedList<VaucherSystem.Models.ViewModels.Admin.CustomerViewModel>
@using PagedList.Mvc


@using (Ajax.BeginForm("AllCustomers", "Admin", new { area = "" }, new AjaxOptions()
{
    UpdateTargetId = "element-to-replace",
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace
}, new { @class = "form-inline", role = "form" }))
{

}


<div class="col-md-12 pager">
    <h3>Customers</h3>
    <div id="element-to-replace">
        @Html.Partial("_AllCustomers")
    </div>
</div>
