
<div class="list-group" style="margin-top:5px;">
    <h3 class="list-group-item-heading">Terms and Conditions</h3>
    <p class="list-group-item-text">
    <p><strong>Definitions</strong></p>
    Vaucher.com or Site: Internet resource located on the Internet (domain) http://www.vaucher-system.azurewebsite.com, administered by the Operator
    Operator: EUF Group Ltd., registered under the Commercial Law of the Republic of Bulgaria, with registered office and address: Svoge, 1 Djidovska Street, UIC: 203025530 Licensed travel agent with license No РК-01-7287
    Partner: a natural or legal person who provides a good / service in a promotional offer promoted on the Site.
    User / Site User: Registered Visitor (User) on the Site.
    Service / Product: a particular service / commodity provided by a Partner that is promoted on the Site for the purpose of concluding a Transaction between Users and Partners.
    Offer: a published offer of the Partner in the Site for the Purchase by the Users of a particular Goods / Service under the conditions specified therein.
    Deal / Sale / Sale Agreement: a contract entered into through the Site between a particular Partner and a User to Purchase a Voucher issued by the Operator on behalf of the Affiliate and providing the opportunity to receive Prepaid Goods / Service under certain conditions.
    Voucher: an electronic document proving the right of a User to receive a prepaid Deal. It contains brief information about the Transaction and data about the parties.

    <p>
        <strong>General provisions</strong>
    </p>
    These General Terms and Conditions govern the relationship between the Operator on the one hand and the visitors and users of the Site.
    These conditions bind all users, regardless of whether they have a profile on the Site. By clicking on any site, link, or button located on the Site (except for the link to these Terms and Conditions), the user / visitor declares that he / she is familiar with and agrees, accepts in full and agrees to comply with these Terms and Conditions. By accepting the terms and conditions, the User ensures that he has the right, authority and ability to accept and be bound by these terms and conditions.

    <p><strong>Registration of users</strong></p>
    The site offers visitors a partial view of their content without registration. Registration is voluntary. In order to get a visitor the right to full access with user rights and to make valid Transactions, he / she needs to register and become a User on the Site with a valid client profile. When registering, you must enter the email address that will be used to identify you as well as your name and surname. You also need to select a password. A contact phone is only needed when buying a Quote (Deal) for feedback if necessary. An address for correspondence is only needed when a Partner or an External Payment System requires it (BCP).
    When making the registration, the user is obliged to provide correct and up-to-date data. The user is obliged to update the data specified in his / her registration in a timely manner. In the event that the User provides false and / or outdated data, the Operator is entitled to immediately and without prior notice of maintaining the User's registration and access to his / her client's account.
    Each of Users has the right to register only once.

    <p>
        <strong>
            Personal data
        </strong>
    </p>
    The personal data that the Operator receives at registration are: Name, Surname, E-mail, telephone, and address for correspondence (if required by the BCP or Partner). This data will only be used for customer service - accepting and executing orders, and contacting users in the event of new information related to Offers.
    The Operator declares that the data in question will not be provided by the Operator in any form to third parties or used for purposes other than those described above. By filling in the above personal data, the User expressly agrees to collect, process, store and transfer these data to the Operator or a third party only in accordance with applicable law.
    For each registered User, a client profile is created containing the personal data and activity information of the respective User in connection with the use of the services offered by the Offers and Vouchers offered.
    Visitors to the Site are given the option, if they wish, to fill in a web-only form with an e-mail address in order to include them in a list of users subscribed to daily information about the Transactions promoted on the Site and their terms. Registration is anonymous - limited only to the provided email address.
    <p>
        <strong>Offer</strong>
    </p>
    The Operator shall promote on the Site Offers that represent Partners' offerings subject to a potential Deal. It includes a certain discount on the price of a good / service that the Users of the Site can obtain under certain conditions.
    The subject of the Deal is always a specified Offer together with its terms of use. All prices on the Site are in Bulgarian Lev including VAT. In the absence of any other indication, prices will be considered to be for a single quantity.
    Each Deal is subject to a fixed term for payment of up to 5 business days, within which Customers will be able to purchase it by making a successful payment on it. Upon expiration of the payment term, the transaction becomes invalid.
    The Purchased Vouchers will be able to present to the Partners for the receipt of the prepaid Goods / Services under the specific terms and conditions specified in the respective Deal / Voucher. All the terms of the Transaction are binding on the Customers, and upon the purchase of the respective Vouchers they agree with them and undertake to perform them in good faith.
    <p>
        <strong>
            Making a deal
        </strong>
    </p>
    The site offers visitors the opportunity to view and (after registration) buy vouchers at a promotional price for the products and services promoted on the site itself. In order to get the right to make valid queries to buy vouchers on the Site, you need to sign up / log in. Making a Deal is done once you've signed up, selected the specific bid you want to buy, and finalized the process (order) by entering the required information and displaying the Purchase Offer in your account. In order to receive a Voucher on the concluded Deal, you have to pay it in advance.
    <p>
        <strong> Payment</strong>
    </p>
    Payments via an External Payment System ("BCP"):
    When selecting a payment method offered on the Site and after completing the order on the Site (and in the Profile) a button will be displayed for making the payment through the BCP. After pressing this button, you will be transferred to the BCP's website to finalize the transaction. You must be registered with the relevant BKR. The Operator DOES NOT HELP WITH AND MAINTAINS any cardholder information, bank card numbers, and CVV2 / CVC2 data. They are processed in the system of the respective BCP. After a successful payment in your order, you will see a change in the status of the Transaction in paid.
    Bank payment:
    Payment of the due amount is made by bank transfer to the bank account specified by Voucher EOOD at Bank PROCREDITBANK, IBAN BG85PRCB92301031996511, BIC PRCBBGSF. The processing of your order begins after our account has been credited with the order amount, respectively, in your order will be displayed a change in the status of the Transaction in paid.
    Issuing and using a voucher
    After a successful payment on the User's Deal, the Site automatically generates a Voucher that is sent to the valid email address specified by the User during the registration within a few hours; A copy of the Voucher is also available for download and in the Client Profile of the User who has made the Order of the Deal. The site does not send vouchers by post, courier, etc. Vouchers are not a name but a bearer. Partners and the Operator are not responsible if a third party, the bearer of the Voucher, exercises the rights therein without the knowledge or against the will of the Purchaser.
    Each Voucher contains a unique code through which you identify yourself to the particular Affiliate. Please print out your Voucher and keep your unique code through it The Partner makes reference to the validity of the Voucher by "perforating" it, making the voucher unusable for re-use.
    The vouchers may be used within the term specified in the Deal. Upon expiration of the Voucher's validity, users who have purchased a voucher lose the opportunity to exercise their rights without having the right to get back the prepaid price.
    The Nominal Value of the Vouchers will not be redeemable or refundable, nor will it be possible to receive a conversion against the non-received Goods / Services in full. Only the specifically promoted Goods / Services - for other Goods / Services will be able to receive the vouchers separately, upon direct negotiation with the respective Partner.
    Restrictions on the Operator's Responsibility
    The Operator provides the Site with the opportunity to promote Partner offers with which the Operator has an agreement to do so. The operator does not owe the provision of the services / goods contained in the Vouchers purchased by the Site.
    Upon purchase of the voucher from the Site, the User enters into a Deal with the Affiliate that has submitted the respective Offer and declares that, based on Art. 53, para. 1 of the PPA gives its explicit and unconditional consent the service / the goods it purchases through the site to be paid in advance. The operator is not a party to the purchase contract, but is the only operator of a means of distance communication within the meaning of Art. 54, para. 3 and para. 4 of the CPA. Therefore, all claims and claims arising from the Consumer Protection Act and the rest of the legislation of the Republic of Bulgaria should be addressed directly to the respective party to the transaction: to the Partner respectively to the User. Each User declares his / her consent that the offers he has purchased through the Site are guaranteed the rights under Art. 50, 52, 54, 55 and 58 of the CPA only, provided that these are specified by the particular Partner under the terms of the Offer.
    The operator takes care of the preparation and maintenance of the Site, nevertheless it can not guarantee uninterrupted access to it, and the information will always be fully up to date and error free. The operator does not assume the accuracy of the information on the site and assumes no liability for any loss, damage or damage resulting from: (a) problems with access to the Site; (B) inaccuracies in its content; (C) the use of information and material from the site.
    The operator is not responsible for the information that may become available to the User by clicking on hyperlinks posted on the Site.
    <p>
        <strong>Copyright</strong>
    </p>
    Copyrights and all other intellectual property rights in materials contained on the Site, along with its design, images and source code, belong to the Operator and are protected by national and international laws in force in the area of ​​intellectual property.
    Applicable law
    The applicable law in settling the User, Partner and Operator relationship is the Bulgarian. All disputes relating to the services provided by the Operator via the Site should be resolved by the respective competent Bulgarian courts.
    Additional provisions
    If any of the provisions of these Terms of Use become invalid by virtue of a final judgment or a change in the law, this does not invalidate the remainder of the General Terms and Conditions that remain in force.
    The Operator reserves the right to modify these Terms and Conditions at any time by posting the changes to the Site with which they enter into force.
    Users of the Site declare that they are aware that the Operator is not liable for lost profits, losses or damages of any kind arising in connection with their Transactions.
    These General Terms and Conditions have been in force since 09.02.2015.
    

</div>
